/*Structure*/
body {
    background:#452B28;
    font-family: Helvetica, sans-serif;
}

#content {
    background:#D6B6B2;
    padding:25px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

/*Navigation*/
#main-nav ul {
    padding-left:0; /*removes left padding*/
    width:fit-content;
    margin:auto;
}
#main-nav li {
    list-style-type: none; /*no bullets*/
    display:inline-block; /*display on one line*/
}
#main-nav a {
    text-decoration: none; /*no underline*/
    color:#1e3420;
    background:#959c5b;
    padding:5px;
    margin:5px;
    border-radius:2px;
}


/*Typography*/
h1 {
    color:#B57B74;
}

p {
    color:#1e3420;
}