/*Structure*/
body {
    background:#b588c1;
    font-family:'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

#contents {
    color: rgb(237, 159, 233);
    background:rgb(237, 159, 233);
    padding:25px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

/*Navigation*/
#main-links ul {
    padding-left:0; /*removes left padding*/
    width:fit-content;
    margin:auto;
}
#main-links li {
    list-style-type: none; /*no bullets*/
    display:inline-block; /*display on one line*/
}
#main-links a {
    text-decoration: none; /*no underline*/
    color:#252b41;
    background:#ebecf2;
    padding:5px;
    margin:5px;
    border-radius:2px;
}


/*Typography*/
h1 {
    color:#1f2436;
}

p {
    color:#252b41;
}