/*Structure*/
body {
    background:#1f2436;
    font-family:Arial, Helvetica, sans-serif;
}

#content {
    background:#9ea3b6;
    padding:25px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

/*Navigation*/
#main-nav ul {
    padding-left:0; /*removes left padding*/
    width:fit-content;
    margin:auto;
}
#main-nav li {
    list-style-type: none; /*no bullets*/
    display:inline-block; /*display on one line*/
}
#main-nav a {
    text-decoration: none; /*no underline*/
    color:#252b41;
    background:#9ea3b6;
    padding:5px;
    margin:5px;
    border-radius:2px;
}


/*Typography*/
h1 {
    color:#1f2436;
}

p {
    color:#252b41;
}